libs/xint/test/bin/*

dev/Debug/*
dev/Release/*
dev/*.mk
dev/*.tags
dev/tags
dev/*.session
dev/*.depend
dev/*.layout

dev-ms/Debug/*
dev-ms/Release/*
dev-ms/*.ncb
dev-ms/*.suo
dev-ms/*.user

dev-cb/*
