*.gch

libs/xint/doc/*.html
libs/xint/doc/*.gif
libs/xint/doc/*.png
libs/xint/doc/*.css

libs/xint/test/bin/*

libs/xint/build/codelite/Debug/*
libs/xint/build/codelite/Release/*
libs/xint/build/codelite/*.mk
libs/xint/build/codelite/*.tags
libs/xint/build/codelite/tags
libs/xint/build/codelite/*.session
libs/xint/build/codelite/*.depend
libs/xint/build/codelite/*.layout

libs/xint/build/msvc/Debug/*
libs/xint/build/msvc/Release/*
libs/xint/build/msvc/*.ncb
libs/xint/build/msvc/*.suo
libs/xint/build/msvc/*.user

dev-cb/*
